@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

body {
  padding-top: 65px;
  background-color: white;
}

.navbar {
  padding-top: 20px;
  background-color: #FFB6C1;
  /* opacity: 0.9; */
  height: 65px;
}

a.navbar-brand {
  font-family: cursive;
  font-size: 24px;
}

a.nav-link {
  font-family: cursive;
  font-size: 18px;
}

header {
  width: 100%;
  text-align: center;
  font-size: 15px;
  height: 35px;
  background-color: white;
  opacity: 0.7;
  position: fixed;
}

header ul {
  text-align: center;
  list-style: none;
}

header li {
  padding-top: 5px;
  padding-left: 30px;
  display: inline-block;
}

.top-cover {
  background-image: url("/static/lunchmap/images/hawaii.jpg");
  background-size: cover;
  width: auto;
  height: 570px;
}

h1{
  font-family: cursive;
  color: pink;
  padding-top: 70px;
  text-align: center;
}

p.name {
  font-family: cursive;
  font-size: 35px;
  text-align: center;
  padding-top: 100px;
  color: pink;
}

.sachi {
  color: black;
  opacity: 0.7;
}

.sei {
  color: black;
  opacity: 0.7;
}

/* ここからカウントダウンのテスト */

.countDown {
  margin: 50px 0;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
}
.countDownText {
  padding: 5px;
  font-family: cursive;
  color: #ff00ff;
  font-size: 35px;
}

/* ここまでカウントダウん */

p.info {
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  margin:auto;
}

/* ここから挨拶の箇所 */

.category-title {
  padding-top: 10px;
  text-align:center;
}

h1.title-phrase {
  display: inline-block;
  border-bottom: 2px solid #666666;
}

.greeting-wrapper {
  background-color: #f7f7f7;
}

.greeting {
  width: auto;
  height: 550px;
  position: relative;
  padding: 30px;
}

.greeting-text {
  position: absolute;
  top: 70px;
  right: 170px;
  color: black;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

/* ここまで挨拶の箇所 */

.place {
  padding-top: 30px;
  text-align: center;
}

h2 {
  font-family: cursive;
  color: black;
  padding-top: 20px;
}

.photo-top {
  background-image: url("/static/lunchmap/images/main-banner.jpg");
  background-size: cover;
  width: auto;
  height: 250px;
}

.restaurant-top {
  background-image: url("/static/lunchmap/images/main-banner.jpg");
  background-size: cover;
  width: auto;
  height: 250px;
}


h4 {
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  padding-top: 15px;
}

/* 当日の流れのレイアウト */

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  color: pink;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon p {
  top: 44%;
  width: 100%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
  text-align: left;
}

/* photo-wrapper */

.photo-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

/* photo-wrapper終了 */

/* ーーーーーーここからProgateーーーーーーーー */
.slide-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #5e6f84;
  padding: 30px 0;
}

.change-btn-wrapper {
  margin: 5px auto;
  font-size: 18px;
  width: 80%;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.slide img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.index-btn-wrapper {
  font-size: 16px;
  margin-top: 10px;
}

.index-btn {
  display: inline-block;
  color: #4e90af;
  background-color: #e0f5ff;
  width: 40px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.index-btn:hover {
  color: #fff;
  background-color: #5cabd0;
}

/*-------  ここまでprogate  --------*/

/* ここから、フォロギャラリー */


.display-photo: hover {
  background-color: rgba(255, 255, 255, .2);
}

footer {
  background-color: #FFB6C1;
  opacity: 0.7;
  height: 80px;
}
