<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'&gt;>
        <title>Waikiki Wedding</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_layout.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
    </head>

    <body>
      <!-- demo -->
      <nav class='navbar navbar-expand-sm navbar-dark fixed-top'>
        <a class='navbar-brand' href='{% url "lunchmap:index" %}'>Waikiki Wedding</a>
        <!-- <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse"> -->
        <ul class='navbar-nav mr-auto'>
          <li class='nav-time menu'>
            <a class="nav-link" href='#1'>ご挨拶</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#2'>ウェディング会場</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#3'>当日の過ごし方</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#4'>写真館</a>
          </li>
        </ul>

          <ul class='navbar-nav ml-auto'>
            {% if user.is_authenticated %}
            <li class='nav-time'>
              <span class='navbar-text'>ようこそ {{ user }} さん - </span>
            </li>
            <li class='nav-item'>
              <a href='{% url "logout" %}' class='logout nav-link'>Logout</a>
            </li>
            {% else %}
            <li class='nav-item'>
              <a href='{% url "login" %}' class='login nav-link'>Login</a>
            </li>
            <!-- <li class="nav-item">
              <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
            </li>
            {% endif %}
          </ul> -->
         </ul>
        </nav>

        <header>
          <ul>
            <li>
              <a class="nav-link" href='{% url "lunchmap:index02" %}'>現地めグルメ</a>
            </li>
            <li>
              <a class="nav-link" href='https://weather.yahoo.co.jp/weather/world/US-HI/91182/'>ハワイの気候・服装</a>
            </li>
          </ul>
        </header>

        <div class="top-cover">
          <h1>Welcome to our Wedding</h1>
          <p class="name"><span class="sachi">Sachiyo</span> & <span class="sei">Seiichiro</p>

          <div class="countDown">挙式まであと
            <span class="countDownText">
              <script language="JavaScript">
                var now = new Date();
                var point = new Date("2020/03/19");
                var countdown = Math.ceil((point.getTime() - now.getTime()) / (1000 * 60 * 60 * 24));
                if (countdown > 0) {
                  document.write(countdown);
                }
              </script>
            </span>日</div>

            <p class="info">2020.03.19</p>
            <p class="info">Aloha Ke Akua, Waikiki</p>
        </div>

        <div class="category-title" id="1">
        <h1 class="title-phrase">Greeting</h1>
        <p>ご挨拶</p>
        </div>

        <div class="greeting">
          <div class="greeting-photo">
            {% load static %}
            <img class="maedori" src="{% static 'lunchmap/images/maedori01.jpg' %}" width="50%" height="50%"></img>
          </div>
          <div class="greeting-text">
            　この度は私たちの結婚を一緒にお祝いいただき<br>誠にありがとうございます。<br><br>
            　無事に入籍し、ハワイの地で無事に挙式を行えるのも<br>皆様の暖かな応援あってのことです。<br><br>
            　当日はぜひ、開放感の溢れるハワイでのパーティを<br>存分にお楽しみください。<br><br><br><br>
            木村誓一郎・幸代
          </div>
        </div>

        <div class="category-title" id="2">
        <h1 class="title-phrase">Wedding Place</h1>
        <p>挙式場のご紹介</p>
        </div>

        <div class="place">
          <div class="place-photo">
            {% load static %}
            <img src="{% static 'lunchmap/images/alohake.jpg' %}" width="80%" height="80%"></img>
          </div>
          <div class="place-text">
            <h2>The Private Garden Aloha Ke Akua</h2>
            <h3>ザ・プライベートガーデン アロハ・ケ・アクア</h3>

            <p>雰囲気とコンセプト（＋噂）だけで、新郎新婦とも即決したウェディング会場です。道端アンジェリカなど有名人もこの会場で挙式・パーティを行った模様。
            <br>ワイキキの市街地から車で１時間程度と少し離れますが、自然豊かな環境を独占し、リラックスできること間違いなしです！</p>

            さらに詳細は<a href="https://www.watabe-wedding.co.jp/resort_wedding_overseas/hawaii/chapel_aloha_ke/?utm_source=google&utm_medium=cpc&utm_campaign=rz_br_chapel&utm_content=hawaii_chapel&gclid=CjwKCAiAj-_xBRBjEiwAmRbqYv7Gej1matV3A_kPh5Al7Cbx5Ixhr03G91PCLkk5XDLd0p_oXZE5XhoCr5YQAvD_BwE#" target="_blank">こちら</a>（外部リンク）

          </div>
        </div>

        <div class="category-title" id="3">
        <h1 class="title-phrase">Agenda</h1>
        <p>ウェディング当日の流れ</p>
        <p>3月19日の挙式当日は、10時半より２箇所のホテルにバスがピックアップに参ります。</p>
        <p>その後は式場へ移動し、挙式・パーティを開催。ワイキキ市街への戻りは<br>16時ごろを予定しておりますので、
          ご予定を調整いただけますと幸いです。</p>
        </div>

        <!-- こっからProgateマルパクリ -->
        <div class="slide-wrapper">
            <div class="change-btn-wrapper">
              <div class="change-btn prev-btn">← 前へ</div>
              <div class="change-btn next-btn">次へ →</div>
            </div>
            <ul class="slides">
              <li class="slide active"><p>ヒルトン・ハワイアンビレッジ（1つ目の集合場所）</p><img src="{% static 'lunchmap/images/hilton02.jpg' %}" width="100%" height="100%"></img><p>10:30 Hilton Hawaian Villageピックアップ → 11:00 リッツカールトンでPick up</p></li>
              <li class="slide"><p>リッツカールトン・レジデンシャル（2つ目の集合場所）</p><img src="{% static 'lunchmap/images/litzcarton.jpg' %}" width="100%" height="50%"></img><p>10:30 Hilton Hawaian Villageピックアップ → 11:00 リッツカールトンでPick up</p></li>
              <li class="slide"><p>バス移動（写真はイメージです）</p><img src="{% static 'lunchmap/images/waikikibus.jpg' %}" width="100%" height="100%"></img><p>送迎バスで移動 → 式場へ移動</p></li>
              <li class="slide"><p>ウェディングセレモニー</p><img src="{% static 'lunchmap/images/ceremony.png' %}" width="100%" height="100%"></img><p>挙式：12:00~13:00</p></li>
              <li class="slide"><p>ウェディング・パーティ（写真はイメージです）</p><img src="{% static 'lunchmap/images/restaurant_space.jpg' %}" width="100%" height="100%"></img><p>パーティ（食事会）:13:00~15:00</p></li>
            </ul>
            <div class="index-btn-wrapper">
              <div class="index-btn">1</div>
              <div class="index-btn">2</div>
              <div class="index-btn">3</div>
              <div class="index-btn">4</div>
              <div class="index-btn">5</div>
            </div>
          </div>

          <div class="category-title">
          <h1 class="title-phrase">Photo Gallery</h1>
          <p>新郎新婦とゲストの写真ご紹介</p>

          </div>

          <div class="photo-gallery" id="4">
            <p>写真をクリック↓↓（写真を見るにはログインが必要です)</p>
            <div class="display-photo">
              {% if user.is_authenticated %}
              {% load static %}
              <a href='{% url "lunchmap:photo" %}'><img src="{% static 'lunchmap/images/bali.JPG' %}" width="40%" height="40%"></img></a>
              {% else %}
              <a href='{% url "login" %}'><img src="{% static 'lunchmap/images/bali.JPG' %}" width="40%" height="40%"></img></a>
              {% endif %}
            </div>

          </div>

      <nav class='navbar navbar-expand-sm navbar-dark'>
      <p>お問い合わせ　
        <br>木村誓一郎<br>
        TEL:080-9806-3563</p>
      </nav>

    </body>
</html>

<!-- <div class="place">
<h1>Wedding Place</h1>

<h2>ハワイ・オワフ島</h2>
<h2>The Private Garden Aloha Ke Akua</h2>
<h3>ザ・プライベートガーデン アロハ・ケ・アクア</h3>

<p>妖精が造り上げたという伝説が伝わるハート型の湖を望む聖地に広がる「ザ・プライベート・ガーデン アロハ・ケ・アクア」は、
雄大な山々や芝生の緑と大空と湖の青が寄り添う 特別な場所。ビーチや公園などの美しい景観を活かした写真撮影にこだわったり、
自然の中でパーティやゲストとの語らいを楽しんだりすることが出来る、ナチュラルスタイルの挙式場です。</p>

{% load static %}
<img class="photo1" src="{% static 'lunchmap/images/alohake.jpg' %}" width="100%" height="100%"></img>

<h4>“古き良きハワイ”の魅力が息づく聖地</h4>
<p>「ザ・プライベート・ガーデン アロハ・ケ・アクア」のあるカネオヘエリアは、ナチュラルでスピリチュアルなネイティブハワイが満喫できる場所みたいです。</p>

<img class="photo1" src="{% static 'lunchmap/images/wedding_space.jpg' %}" width="100%" height="100%"></img>

<h4>-ナチュラルスタイル-</h4>
<p>自然に囲まれてとり行う挙式。雰囲気は抜群。晴れるといいな〜。。</p>

<img class="photo1" src="{% static 'lunchmap/images/restaurant_space.jpg' %}" width="100%" height="100%"></img>

<h4>豊かな自然に囲まれ開放感のあるパーティ会場</h4>
<p>湖を望むガーデンダイニングは、美しい眺望と心地よい海風に癒される貸切のプライベート空間。自然体の寛ぎを大切なゲストとともに満喫したいところ。</p>

<p>↓地図はこちら</p>

<iframe id='map'
  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDA7cTXuCisuoTl4DCznOUA-q0w7XEjKuM&q=47-507 Kamehameha Hwy, Kaneohe, HI 96744 アメリカ合衆国'
  width='100%'
  height='420'
  frameborder='0'>
</iframe>

<a href="https://www.watabe-wedding.co.jp/resort_wedding_overseas/hawaii/chapel_aloha_ke/?utm_source=google&utm_medium=cpc&utm_campaign=rz_br_chapel&utm_content=hawaii_chapel&gclid=CjwKCAiAj-_xBRBjEiwAmRbqYv7Gej1matV3A_kPh5Al7Cbx5Ixhr03G91PCLkk5XDLd0p_oXZE5XhoCr5YQAvD_BwE#" target="_blank">さらに詳細をチェック</a>

</div> -->

<!-- <ul>
  <li>当日の流れ：何時にどこ集合とか、パーティの式次第とかざっくりと</li>
  <li>会場：ウェディング会場の場所（地図）と雰囲気を、写真やムービーで紹介</li>
  <li>写真館：自分たちの前撮りとか写真を紹介</li>
  <li>現地グルメ：お勧めのレストランをリスト化。ランチマップアプリを応用</li>
  <li>ブログ：式の準備状況などを、ブログ的に書いていく</li>
</ul>

<p>グルメとブログには、サインインすればゲストも投稿可能</p> -->
