<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'&gt;>
        <title>Waikiki Wedding</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
    </head>

    <body>
      <nav class='navbar navbar-expand-sm navbar-dark fixed-top'>
        <a class='navbar-brand' href='{% url "lunchmap:index" %}'>Waikiki Wedding</a>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-time menu'>
            <a class="nav-link" href='#1'>ご挨拶</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#2'>ウェディング会場</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#3'>当日の過ごし方</a>
          </li>
          <li class='nav-time menu'>
            <a class="nav-link" href='#4'>写真館</a>
          </li>
        </ul>

        <ul class='navbar-nav ml-auto'>
          {% if user.is_authenticated %}
          <li class='nav-time'>
            <span class='navbar-text'>ようこそ {{ user }} さん - </span>
          </li>
          <li class='nav-item'>
            <a href='{% url "logout" %}' class='logout nav-link'>logout</a>
          </li>
          {% else %}
          <li class='nav-item'>
            <a href='{% url "login" %}' class='login nav-link'>Login</a>
          </li>
          <!-- <li class="nav-item">
            <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
          </li> -->
          {% endif %}
        </ul>
      </nav>

        <header>
          <ul>
            <li>
              <a href='{% url "lunchmap:index02" %}'>現地めグルメ</a>
            </li>
            <li>
              <a href='https://weather.yahoo.co.jp/weather/world/US-HI/91182/' target="_blank">ハワイの気候・服装</a>
            </li>
          </ul>
        </header>

        <div class="top-cover">
          <h1>Welcome to our Wedding</h1>
          <p class="name"><span class="sachi">Sachiyo</span> & <span class="sei">Seiichiro</p>

          <div class="countDown">挙式まであと
            <span class="countDownText">
              <script language="JavaScript">
                var now = new Date();
                var point = new Date("2020/03/19");
                var countdown = Math.ceil((point.getTime() - now.getTime()) / (1000 * 60 * 60 * 24));
                if (countdown > 0) {
                  document.write(countdown);
                }
              </script>
            </span>日</div>
            <p class="info">2020.03.19</p>
            <p class="info">Aloha Ke Akua, Waikiki</p>
        </div>

        <div class="greeting-wrapper" id="1">
          <div class="category-title">
          <h1 class="title-phrase">Greeting</h1>
          <p>ご挨拶</p>
          </div>

          <div class="greeting">
            <div class="greeting-photo">
              {% load static %}
              <img class="maedori" src="{% static 'lunchmap/images/maedori01.jpg' %}" width="50%" height="50%"></img>
            </div>
            <div class="greeting-text">
              　この度は私たちの結婚を一緒にお祝いいただき<br>誠にありがとうございます。<br><br>
              　無事に入籍し、ハワイの地で無事に挙式を行えるのも<br>皆様の暖かな応援あってのことです。<br><br>
              　当日はぜひ、開放感の溢れるハワイでのパーティを<br>存分にお楽しみください。<br>
                <p>木村誓一郎・幸代</p>
            </div>
          </div>
       </div>

        <div class="category-title" id="2">
        <h1 class="title-phrase">Wedding Place</h1>
        <p>挙式場のご紹介</p>
        </div>

        <div class="place">
          <div class="place-photo">
            {% load static %}
            <img src="{% static 'lunchmap/images/alohake.jpg' %}" width="80%" height="80%"></img>
          </div>
          <div class="place-text">
            <h2>The Private Garden Aloha Ke Akua</h2>
            <h3>ザ・プライベートガーデン アロハ・ケ・アクア</h3>

            <p>雰囲気とコンセプト（＋噂）だけで、新郎新婦とも即決したウェディング会場です。道端アンジェリカなど有名人もこの会場で挙式・パーティを行った模様。
            <br>ワイキキの市街地から車で１時間程度と少し離れますが、自然豊かな環境を独占し、リラックスできること間違いなしです！</p>

            <p>さらに詳細は<a href="https://www.watabe-wedding.co.jp/resort_wedding_overseas/hawaii/chapel_aloha_ke/?utm_source=google&utm_medium=cpc&utm_campaign=rz_br_chapel&utm_content=hawaii_chapel&gclid=CjwKCAiAj-_xBRBjEiwAmRbqYv7Gej1matV3A_kPh5Al7Cbx5Ixhr03G91PCLkk5XDLd0p_oXZE5XhoCr5YQAvD_BwE#" target="_blank">こちら</a>（外部リンク）</p>

          </div>
        </div>

        <!-- <div class="category-title" id="3">
        <h1 class="title-phrase">Agenda</h1>
        <p>ウェディング当日の流れ</p>
        <p>3月19日の挙式当日は、10時半より２箇所のホテルにバスがピックアップに参ります。</p>
        <p>その後は式場へ移動し、挙式・パーティを開催。ワイキキ市街への戻りは<br>16時ごろを予定しておりますので、
          ご予定を調整いただけますと幸いです。</p>
        </div> -->

        <div class="lesson-wrapper" id="3">
          <div class="container">
            <div class="heading">
              <h2>Wedding Day</h2>
              <p>ウェディング当日の流れ</p>
              <p class="text-contents">3月19日の挙式当日の流れは下記の通りとなります。</p>
            </div>
            <div class="lessons">
              <div class="lesson">
                <div class="lesson-icon">
                  <p>集合！（10:35~10:45)</p>
                  <img src="{% static 'lunchmap/images/hilton02.jpg' %}" width="50%" height="50%">
                </div>
                <p class="text-contents">ホテル２箇所へミニバスがピックアップに参ります。<br>10:35 ヒルトンハワイアンビレッジ、<br>10:45 リッツカールトンレジデンシャル<br>にお集まりください。</p>
              </div>
              <div class="lesson">
                <div class="lesson-icon">
                  <p>会場へ移動 (~11:30)</p>
                  <img src="{% static 'lunchmap/images/waikikibus.jpg' %}" width="70%" height="70%">
                </div>
                <p class="text-contents">ミニバスで皆様をウェディング会場へお連れいたします。40分程度の移動時間となりますので、車酔いや暇をしないように酔い止め、スマホ、音楽聴けるもの、話のネタなどなどご持参ください。</p>
              </div>
              <div class="lesson">
                <div class="lesson-icon">
                  <p>挙式・セレモニー (12:00~13:00)</p>
                  <img src="{% static 'lunchmap/images/ceremony.png' %}" width="70%" height="70%">
                </div>
                <p class="text-contents">会場に到着後、皆さん落ち着きましたら早速挙式を行います！挙式とはいえ自然の中でのガーデンウェディングですので、ある程度カジュアルです。格式張らずに、ぜひ笑顔で新郎新婦を迎えてやってください。。</p>
              </div>
              <div class="lesson">
                <div class="lesson-icon">
                  <p>パーティー(13:30~15:30くらい)</p>
                  <img src="{% static 'lunchmap/images/restaurant_space.jpg' %}" width="70%" height="70%">
                </div>
                <p class="text-contents">挙式後、式場内の自然を楽しんでいただきながらパーティー会場へ移動。暖かな緑が広がるパーティ会場で食事やご歓談をお楽しみください。少しばかり参加型のアクティビティもご用意している？……かも。</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="photo-wrapper" id="4">
          <div class="container">
            <div class="heading">
              <h2>Photo Gallery</h2>
              <p>新郎新婦とゲストの写真ご紹介</p>
            </div>
            <div class="slide-wrapper">
              <div class="change-btn-wrapper">
                <div class="change-btn prev-btn">← 前へ</div>
                <div class="change-btn next-btn">次へ →</div>
              </div>
              <ul class="slides">
                <li class="slide active"><img src="{% static 'lunchmap/images/maedori03.jpg' %}" width="100%" height="100%"><p>新郎新婦、前撮り＠浜離宮（2020年2月27日）</p></li>
                <li class="slide"><img src="{% static 'lunchmap/images/maedori04.jpg' %}" width="100%" height="100%"><p>新郎新婦、前撮り＠浜離宮（2020年2月27日）</p></li>
                <li class="slide"><img src="{% static 'lunchmap/images/bali.JPG' %}" width="100%" height="100%"><p>新郎新婦、バリ旅行（2019年5月）</p></li>
                {% if user.is_authenticated %}
                <li class="slide"><p>↓↓詳細の閲覧や投稿などにはログインが必要です（画面をクリック）</p><a href='{% url "lunchmap:photo" %}'><img src="{% static 'lunchmap/images/toshiandsawa.JPG' %}" width="100%" height="100%"></a><p>新郎の甥と姪（俊和くんと桜和ちゃん）</p></li>
                {% else %}
                <li class="slide"><a href='{% url "login" %}'><img src="{% static 'lunchmap/images/toshiandsawa.JPG' %}" width="100%" height="100%"></a><p>新郎の甥と姪（俊和くんと桜和ちゃん）</p></li>
                {% endif %}
              </ul>
            </div>
            <div class="index-btn-wrapper">
              <div class="index-btn">1</div>
              <div class="index-btn">2</div>
              <div class="index-btn">3</div>
              <div class="index-btn">4</div>
            </div>
          </div>
        </div>

      <nav class='navbar navbar-expand-sm navbar-dark'>
      <p>お問い合わせ　
        <br>木村誓一郎<br>
        TEL:080-9806-3563</p>
      </nav>

    </body>
</html>
