{% extends 'layout.html' %}
{% block content %}

<h1 class="photo-top">Photos</h1>
<p>写真を新しいものから準に表示したい</p>

{% load static %}
<img class="photo1" src="{% static 'lunchmap/images/bali.jpg' %}" width="45%" height="45%"></img>
<img class="photo2" src="{% static 'lunchmap/images/bali02.jpg' %}" width="45%" height="45%"></img>
<img class="photo3" src="{% static 'lunchmap/images/fukuoka.jpg' %}" width="45%" height="45%"　border=3/></img>
<img class="photo3" src="{% static 'lunchmap/images/toshiandsawa.jpg' %}" width="45%" height="45%"　border=3/></img>

{% endblock %}
