{% extends 'layout.html' %}
{% block content %}

<h1 class="photo-top">Photos</h1>
<p>ユーザーが写真をアップロードし、写真を新しいものから準に表示するページ</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% for book in books %}
<tr>
<td>{{ book.title }}</td>
<td><img src="/{{ book.image.url }}" style="width:300px;height:auto"></td>
</tr>

<h1><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h1>
<p>{{ book.link|linebreaksbr }}</p>
{% endfor %}


{% endblock %}
